body {
    background-color: rgb(0, 0, 0);
}


.title{
    color: white;
    font-family: 'Pacifico', cursive;
    display: flex;
    font-size: 60px;
    justify-content:center;
    align-items:center;
    margin-bottom: -70px;
    margin-top: -60px;
}


.title #scan {
    color: rgb(211, 0, 81);
}

.summary{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


.summary #AI {
    font-size: 20px;
    color: rgb(230, 0, 76);

}


.inputarea {
    display: flex;
    justify-content: center;


}

.predictbutton{
    display: flex;
    justify-content: center;
}

#submit{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(230, 0, 76);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border-style:dashed;
    font-size: 22px;
}


#submit:hover{
    background-color: black;
    color: rgb(230, 0, 76);
}

p1{
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    padding-left: 140px;
    padding-right: 140px;

}

.pred {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    border: solid;
    border-color: rgb(230, 0, 76) ;
    margin-left: 400px;
    margin-right: 400px;
}


.navigation {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    justify-content: flex-start;
    align-items:stretch;
    background-color: rgb(230, 0, 76);
}